<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i>
  </span>
  <input type="text" class="form-control" placeholder="Type the wish" aria-label="Search" 
    aria-describedby="basic-addon1"
    [(ngModel)]="searchText" (ngModelChange)="searchTextChanged($event)">
</div>

<div id="filteredList">
  <div class="card" *ngFor="let w of filteredWishes" (click)="onWishSelected(w)">
    <div class="card-body">
      {{w.wish}}
    </div>
  </div>
</div>

<br/>
<h3 class="h3">
  <div class="selected-header">
    <div>Selected wishes</div>
    <button type="button" class="btn btn-danger btn-sm"
      (click)="clearAll()">
      <i class="bi bi-trash"></i>
    </button>
  </div>
  
</h3>
<table class="table" *ngIf="selectedWishes.length > 0">
  <thead>
    <tr>
      <th scope="col">Wish</th>
      <th scope="col col-genre">Genre</th>
      <th scope="col col-delete"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let w of selectedWishes">
      <td>
        <div>{{w.wish}}</div>
      </td>
      <td>{{w.genre}}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm"
          (click)="onWishDelete(w)">
          <i class="bi bi-x-circle"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
